body {
  background-color: #060220;
  

  /* background-image: linear-gradient(170deg, #885ec6 0, #523f91 25%, #1f1f59 50%, #000026 75%, #000000 100%); */

/*   background-color: #19195c;
opacity: 1;
background-image:  radial-gradient(#959af6 1px, transparent 1px), radial-gradient(#959af6 1px, #19195c 1px);
background-size: 40px 40px;
background-position: 0 0,20px 20px; */

/*background texture: https://projects.verou.me/css3patterns/#starry-night */
/* background-color:rgb(6, 3, 20); */
/* background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
background-image: url("./images/stars.jpg");
background-size: cover;
}

.app, .header, .footer, .capture, .urlForm {
  padding: 2em;
  margin: 0.5em;
  /* background-color: #0B4F6C; */
  background-color: #FFFFFF;

  /* margin: auto; */
  /* border: 3px solid; */
  /* color: white; */
  text-align: center;
  /* font-size: 2.7vmin; */
  /* border-radius: 13px; */
  /* border: 3px solid #01BAEF; */
  border-width: 2px;
 /*  background: #0d0548;*/
  box-shadow:  2px 2px 5px 1px #01BAEF; 
  width: auto;
  
}

/*
#040F16 richblack
#0B4F6C bluesapphire
#01BAEF cyanprocess
#B80C09 internationalorangeeng
#FBFBFF ghostwhite
*/

a { 
  color: inherit; 
} 

.urlForm {
  /* margin: 1em; */
  text-align: center;
  display: block;
  justify-content: start;
}

.camPosition {
  text-align: center;
  display: block;
  justify-content:flex-end;
  background-color: rgb(245, 244, 244);
}

.header {
  margin-top: 5em;
  text-align: center;
  /* max-width: 40%; */
}

.footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: auto;
  height: 1rem;            /* Footer height */

}

img {
  /* padding: 0.3em; */
  background-color: #fff;
  max-width: inherit;
  margin: inherit;
  width: 100%
  /* border: 3px solid; */
}




/* .capture {
  margin-top: 5em;
  display: flex;
  align-items: center;
} */

input {
  width: 70px;
}

/* form {
  display: block;
  justify-content: space-between;
} */



:focus {
  outline: 3px solid red;
}

button:hover {
  opacity: 0.9;
}

p {
  text-align: center;
}

.MuiTableCell-sizeSmall:last-child {
  padding-right: 5vmin;
}

button {
  padding: 3em;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }

}



/*
#000000
#2F4550
#586F7C
#B8DBD9
#F4F4F9
*/

/*
#040F16 richblack
#0B4F6C bluesapphire
#01BAEF cyanprocess
#B80C09 internationalorangeeng
#FBFBFF ghostwhite
*/