body {
  background-color: #000000;
  background-image: url("./images/stars.jpg");
  /* background-size: cover; */
}


a { 
  color: inherit; 
} 

input {
  width: 70px;
}

:focus {
  outline: 3px solid red;
}

button:hover {
  opacity: 0.9;
}

p {
  text-align: center;
}


button {
  padding: 3em;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }

}



/*
#000000
#2F4550
#586F7C
#B8DBD9
#F4F4F9
*/

/*
#040F16 richblack
#0B4F6C bluesapphire
#01BAEF cyanprocess
#B80C09 internationalorangeeng
#FBFBFF ghostwhite
*/